#
# JavaScript versions -- from the TextMate bundle + some additions
# for jasmine-jquery matchers
#
extends javascript

snippet vr "var name = require (js)"
var ${1:n} = require('$1.js');
endsnippet

snippet vf "var name = require (js)"
var ${1:n} = function(){
	${0}
}
endsnippet


snippet vfe "var name = require... exports"
var ${1:n} = function(){
	${0}
}

exports.$1 = $1;
endsnippet

